[submodule "submodules/LED-lamp"]
	path = submodules/LED-lamp
	url = https://github.com/AaryanPanigrahi/3-Stage-LED-Lamp
[submodule "submodules/Liquid-Dispenser"]
	path = submodules/Liquid-Dispenser
	url = https://github.com/AaryanPanigrahi/Liquid-Dispenser
[submodule "submodules/Air-Gun"]
	path = submodules/Air-Gun
	url = https://github.com/AaryanPanigrahi/Air-Gun
[submodule "submodules/BLDC-Quadcopter"]
	path = submodules/BLDC-Quadcopter
	url = https://github.com/AaryanPanigrahi/Arduino-Based-BLDC-Quadcopter
